.projects-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.card-container {
   background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card-container > .img-container {
    height: 60%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}

.card-container > .img-container > img {
    width: 60%;
}

.section-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}