.footer {
    width: 100%;
    padding: 6rem, 0;
    background-color: rgb(27, 24, 24);
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    

}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social h4 {
    padding: 10px;
}